/* Start Main Rulez */
body{
    background-color: #CE6702;
    font-size: 16px;
}
.asterisk{
    font-size: 30px;
    position: absolute;
    right: 30px;
    top: 8px;
    color: red;
}
/* End Main Rulez */
/* Start Login Form */
.login{
    width: 300px;
    margin: 100px auto;
}

.login .text-center{
    color: white;
    
}

.login input{
    margin-bottom: 10px;
}

.login .form-control{
    background-color: #EAEAEA;
}

.login .btn{
    background-color: #008dde;
}
/* End Login Form */

/* Start Bootstrap Edits */

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.navbar > li > a,
.navbar-brand{
    padding: 15px 12px;
}
.navbar-brand {
    font-size: 1em;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover,
.dropdown-menu{
    background-color: #3498db;
}

.dropdown-menu{
    min-width: 180px;
    padding: 0;
    font-size: 1em;
    border: none;
}

.dropdown-menu > li > a{
    color: #fff;
    padding: 10px 15px;
}
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover{
    color: #fff;
    background-color: #8e44ab;
}
.form-control{
    position: relative;

}
/* End Bootstrap Edits */

/* Start Member page */
h1{
    font-size: 55px;
    margin: 40px 0;
    font-weight: bold;
}
.show-pass{
    position: absolute;
    top: 6px;
    right: 18px;

}
/* End Member page */